body{
	padding-top: 30px;
	padding-bottom: 30px;
}

.puzzleList{
	height: 200px;
}

#puzzArea{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.puzzle td{
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}

/*Non-puzzle and non-clue area*/
.puzzle td.empty{
	border: 0px;
}

/*Clue area*/
.puzzle td.clue{
	border-color: blue;
}

/*Styling for puzzle area*/
.puzzle td.pcell.selected{
	background-color: #646464;
}

.puzzle td.pcell.unselected{
	background-color: #ffffff;
}

.puzzle td.pcell.invalid{
	background-color: #ffffff;
}

.puzzle td.pcell.zoomout{
	width: 15px;
	height: 15px;
}

.puzzle td.pcell.zoomout.invalid span{
	display: none;
}