body{
	padding-top: 30px;
	padding-bottom: 30px;
}

.puzzleList{
	height: 200px;
}

#puzzArea{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.puzzle td{
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}

.puzzle td:nth-child(5n+5){
	border-right-width: 2px;
	border-right-color: #398eb5;
}

.puzzle tr.pcell:nth-child(5n+5) td{
	border-bottom-width: 2px;
	border-bottom-color: #398eb5;
}

.puzzle tr.pcell:last-child td{
	border-bottom-width: 1px;
	border-bottom-color: black;
}

.puzzle td:last-child{
	border-right-width: 1px;
	border-right-color: black;
}

.puzzle td.empty{
	border: 0px;
}

.puzzle td.clue{
	border-color: blue;
}

.puzzle td.selected{
	background-color: #646464;
}

.puzzle td.unselected{
	background-color: #ffffff;
}

.puzzle td.invalid{
	background-color: #ffffff;
}

.puzzle td.zoomout{
	width: 15px;
	height: 15px;
}

.puzzle td.zoomout.invalid span{
	display: none;
}