<div class="page-header">
	<h1>Play Puzzle</h1>
</div>
<div ng-show="puzzleId === undefined">
	Select a puzzle from the list below.
	<div class="table table-striped puzzleList" ng-grid="gridOptions">
	</div>
	<a ng-href="#/play/{{gridOptions.selectedItems[0].id}}">
		<button class="btn btn-success pull-right" ng-disabled="gridOptions.selectedItems.length <= 0">Load</button>
	</a>
</div>
<table class="puzzle" id="puzzArea">
</table>
<hr></hr><p>
<div class="btn-group" ng-show="puzzleId != undefined">
	<button ng-click="checkPuzzle()" class="btn btn-success">Check Answer</button>
	<button ng-click="revealPuzzle()" class="btn btn-warning">Reveal Solution</button>
	<button ng-click="clearPuzzle()" class="btn btn-danger">Clear</button>
</div>